<template>
  <q-page class="flex">
    <div class="ripple-background">
      <div class="circle xxlarge shade1"></div>
    </div>
    <div v-if="page === 'select'" style="width:100%;" class="q-pl-none q-pt-xl">
      <div class="title q-pl-none">
        <h4 class="text-primary text-center">IZABERITE TEST</h4>
      </div>
      <div class="row q-gutter-xl q-mt-xl">
        <q-card
          class="col mi"
          v-ripple
          @click="startQuiz('mi')">
          <q-card-section>
            <div class="text-h6 text-primary text-center q-mt-xl">MEĐUISPIT</div>
          </q-card-section>
          <q-separator inset class="q-mt-md" />
          <q-card-section class="q-pt-none text-primary text-center q-mt-lg text-subtitle1">
            Obuhvaća gradivo prvog ciklusa
          </q-card-section>
        </q-card>

        <q-card
          class="col zi"
          v-ripple
          @click="startQuiz('zi')">
          <q-card-section>
            <div class="text-h6 text-primary text-center q-mt-xl">ZAVRŠNI ISPIT</div>
          </q-card-section>
          <q-separator inset class="q-mt-md" />
          <q-card-section class="q-pt-none text-primary text-center q-mt-lg text-subtitle1">
            Obuhvaća gradivo drugog ciklusa
          </q-card-section>
        </q-card>

        <q-card
          class="col rok"
          v-ripple
          @click="startQuiz('rok')">
          <q-card-section>
            <div class="text-h6 text-primary text-center q-mt-xl">ISPITNI ROK</div>
          </q-card-section>
          <q-separator inset class="q-mt-md" />
          <q-card-section class="q-pt-none text-primary text-center q-mt-lg text-subtitle1">
            Obuhvaća gradivo oba ciklusa
          </q-card-section>
        </q-card>
      </div>
    </div>
    <div v-if="page === 'quiz'" class="my-card">
      <q-stepper
        v-model="step"
        ref="stepper"
        animated
        active-color="secondary"
        contracted
      > 
        <q-step
          v-for="question in questions"
          :key="question.id"
          :name="question.name"
          :prefix="question.name"
          title="pitanje"
        >
          <div class="q-mb-xl">
            <h5 class="float-left text-primary" style="max-width: 80%">{{question.question}}</h5>
            <q-img
              v-if="question.image"
              :src="question.image"
              no-native-menu
              style="height: 140px; max-width: 150px"
              class="float-right q-mb-xl">
              <q-icon class="absolute all-pointer-events" size="32px" name="info" color="primary" style="top: 8px; left: 8px; cursor: pointer;">
                <q-popup-proxy>
                  <q-banner style="max-height:50px">
                    Izvor: {{question.source_image}}
                  </q-banner>
                </q-popup-proxy>
              </q-icon>
            </q-img>
          </div>

          <q-list class="q-pl-none q-ml-none my-list">
            <q-item tag="label" v-ripple style="max-height:50px" class="q-pl-none q-ml-none">
              <q-item-section avatar>
                <q-radio v-model="answers[question.name]" :val="question.answer1" color="primary" />
              </q-item-section>
              <q-item-section>
                <q-item-label>{{question.answer1}}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item tag="label" v-ripple style="max-height:50px" class="q-pl-none q-ml-none">
              <q-item-section avatar>
                <q-radio v-model="answers[question.name]" :val="question.answer2" color="primary" />
              </q-item-section>
              <q-item-section>
                <q-item-label>{{question.answer2}}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item tag="label" v-ripple style="max-height:50px" class="q-pl-none q-ml-none">
              <q-item-section avatar>
                <q-radio v-model="answers[question.name]" :val="question.answer3" color="primary" />
              </q-item-section>
              <q-item-section>
                <q-item-label>{{question.answer3}}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item tag="label" v-ripple style="max-height:50px" class="q-pl-none q-ml-none">
              <q-item-section avatar>
                <q-radio v-model="answers[question.name]" :val="question.answer4" color="primary" />
              </q-item-section>
              <q-item-section>
                <q-item-label>{{question.answer4}}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-step>

        <template v-slot:navigation>
          <q-stepper-navigation>
            <q-btn v-if="step < 10" @click="$refs.stepper.next()" color="yellow-4" label="Dalje" text-color="primary" />
            <q-btn v-if="step == 10" @click="endQuiz();$refs.stepper.goTo(1);" color="yellow-4" label="Završi" text-color="primary" />
            <q-btn v-if="step > 1" flat color="secondary" @click="$refs.stepper.previous()" label="Nazad" class="q-ml-sm" text-color="primary" />
          </q-stepper-navigation>
        </template>
      </q-stepper>
    </div>
    <div v-if="page === 'points'">
      <q-card class="my-card">
        <q-card-section>
          <div class="text-h6 text-primary">Ukupan broj bodova: {{points}} / 10
            <q-btn class="float-right" color="yellow-4" label="ZAVRŠI PREGLED" text-color="primary" @click="reset" />
          </div>
        </q-card-section>

        <q-separator inset />

        <div class="q-pa-md q-gutter-md">
          <q-list bordered separator>
            <q-item v-for="a in answerList" :key="a.name" style="max-height:180px" class="q-pl-none q-ml-none">
              <q-item-section style="max-width:20px" class="q-pr-xl">
                <h3 class="text-primary">{{a.name}}.</h3>
              </q-item-section>
              <q-item-section class="q-pl-md">
                <q-item-label class="text-subtitle1 q-pb-md">Pitanje: {{a.question}}</q-item-label>
                <q-item-label lines="2">Vaš odgovor: {{a.answer}}</q-item-label>
                <q-item-label>Točan odgovor: {{a.correct}}</q-item-label>
              </q-item-section>
              <q-item-section avatar side>
                <q-icon v-if="a.point" name="check" class="text-green" style="font-size: 3em;" />
                <q-icon v-else name="clear" class="text-red" style="font-size: 3em;" />
              </q-item-section>
            </q-item>
          </q-list>
        </div>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';
import { ref } from 'vue';

export default defineComponent({
  setup () {
    return {
      step: ref(1)
    }
  },
  name: 'PageIndex',
  data () {
    return {
      page : 'select',
      quizType: '',
      questions: [],
      answers: {},
      points: 0,
      answerList: []
    }
  },
  methods: {
    startQuiz (type) {
      this.quizType = type
      this.page = 'quiz'
      if (this.quizType == 'mi')
        fetch('http://localhost:3000/questions/1/10', {
          method: 'GET'
        }).then(res => res.json()).then(questions => {
          this.questions = questions
          let num = 1
          this.questions.forEach(q => {
            q.name = num
            num++
          })
        })
      else if (this.quizType == 'zi')
        fetch('http://localhost:3000/questions/2/10', {
          method: 'GET'
        }).then(res => res.json()).then(questions => {
          this.questions = questions
          let num = 1
          this.questions.forEach(q => {
            q.name = num
            num++
          })
        })
      else if (this.quizType == 'rok') {
        fetch('http://localhost:3000/questions/1/5', {
          method: 'GET'
        }).then(res => res.json()).then(questions => {
          let num = 1
          questions.forEach(q => {
            let q_help = q
            q_help.name = num
            num++
            this.questions.push(q_help)
          })
        }).then(() => {
          fetch('http://localhost:3000/questions/2/5', {
            method: 'GET'
          }).then(res => res.json()).then(questions => {
            let num = 6
            questions.forEach(q => {
              let q_help = q
              q_help.name = num
              num++
              this.questions.push(q_help)
            })
          })
        })
      }
    },
    endQuiz () {
      this.page = 'points'
      this.questions.forEach(q => {
        let item = {}
        item.correct = q.correct
        item.question = q.question
        item.name = q.name
        if (this.answers[q.name])
          item.answer = this.answers[q.name]
        else item.answer = ''

        if (this.answers[q.name] && this.answers[q.name] === q.correct) {
          this.points++
          item.point = true
        }
        else
          item.point = false

        this.answerList.push(item)
      })
    },
    reset () {
      this.page= 'select'
      this.quizType= ''
      this.questions= []
      this.answers= {}
      this.points= 0
      this.answerList= []
    }
  }
})
</script>
<style lang="sass" scoped>
.title
  margin-bottom: 40px
  height: 40px
.row
  width:80%
  height: 300px
  margin-left: 10%
.mi
  box-shadow: $theme3 0px 5px 15px
  cursor: pointer
.zi
  box-shadow: $theme4 0px 5px 15px
  cursor: pointer
.rok
  box-shadow: $secondary 0px 5px 15px
  cursor: pointer
.my-card
  position: absolute
  top: 5%
  left: 25%
  width: 50%
.my-list
  padding-top: 15%

.circle
  position: absolute
  border-radius: 50%
  background: white
  animation: ripple 15s infinite
  box-shadow: 0px 0px 1px 0px #508fb9
  background-color: $theme5

.xxlarge
  width: 1000px
  height: 1000px
  top: -30%
  left: 24vw

.shade1
  opacity: 0.2
  
@keyframes ripple
  0%
    transform: scale(1)
  50%
    transform: scale(1.3)
  100%
    transform: scale(1)

</style>